insert into fee_tracking (
  student_public_id,
  email,
  student_name,
  education,
  school,
  branch,
  fee_paid_by_tal,
  created_at,
  updated_at
)
select
  student_public_id,
  email,
  full_name,
  coalesce(educationcategory, class, '') as education,
  school,
  branch,
  0,
  now(),
  now()
from student_form_submissions s
where id not in (select student_form_id from fee_tracking)
  and id in (
    select student_id
    from student_documents
    where category in ('academic','personal','extracurricular')
    group by student_id
    having bool_and(is_checked) and count(*) > 0
  );
